.scoreboard {
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-color: #f1f1f1;
  height: auto;
  min-height: 145px;
  .arrowContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: #fff;
    width: 20px;
    height: 100%;
    position: absolute;
    border: 2px solid #f1f1f1;
    box-shadow: 5px 5px 18px #6b6969;
    z-index: 1;
    &.left {
      left: 0;
    }
    &.right {
      right: 0;
    }
    .arrow {
      position: absolute;
      display: inline-block;
    }
  }
  &-list {
    list-style: none;
    padding: 0;
    margin: 0 3rem;
    display: flex;
    flex-direction: row;
    position: relative;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    will-change: transform, transition;
    &-item {
      width: 13rem;
    }
  }
}

.score-card {
  padding: 0.25rem;
  &-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5rem;
    width: 100%;
    height: 84px;
    background-color: #fff;
    text-decoration: none;
  }
  &-header {
    display: flex;
    justify-content: space-between;
    font-size: 0.625rem;

    .title {
      color: rgba($color: #000000, $alpha: 0.8);
    }
    .state {
      color: #777;
    }
  }
  &-team_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
      display: flex;
      align-items: center;
    }
    .team {
      color: #000;
      flex: 1;
      margin-left: 0.5rem;
    }
    .score {
      color: #777;
    }
    .team,
    .score {
      font-size: 0.75rem;
    }
  }
}
